In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.DataFrame({'text':['people watch campusx','campusx watch campusx','people write comment','campusx write comment'],'output':[1,1,0,0]})

In [4]:
df

                    text  output
0   people watch campusx       1
1  campusx watch campusx       1
2   people write comment       0
3  campusx write comment       0

In [3]:
from sklearn.feature_extraction.text import CountVectorizer

In [6]:
cv= CountVectorizer(ngram_range=(2,2))

In [7]:
bow=cv.fit_transform(df['text'])

In [8]:
#vocab
print(cv.vocabulary_)

{'people watch': 2, 'watch campusx': 4, 'campusx watch': 0, 'people write': 3, 'write comment': 5, 'campusx write': 1}