In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df= pd.read_csv("IMDB Dataset.csv.zip")

In [6]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

# LowerCasing

In [7]:
df['review'][3].lower()

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [8]:
df.shape

(50000, 2)

In [9]:
df['review'] = df['review'].str.lower()

In [10]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

# RemoveHTMLTags

In [11]:
import re

In [12]:
def remove_html_tag(data):
    pattern=re.compile('<.*?>')
    return pattern.sub(r'',data)

In [13]:
remove_html_tag(df['review'][3])

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [14]:
df['review'] = df['review'].apply(remove_html_tag)

In [15]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

# REMOVE URLS

In [16]:
def remove_urls(text):
    pattern= re.compile(r'https://\S+|www\.\S+')
    return pattern.sub(r'', text)

In [17]:
text1= 'Check out my notbook https://www.kaggle.com/campux/notebook8223fc1abb'
text2='check out my notbook https://www.kaggle.com/campux/notebook8223fc1abb'

In [18]:
text1

'Check out my notbook https://www.kaggle.com/campux/notebook8223fc1abb'

In [19]:
remove_urls(text1)

'Check out my notbook '

# REMOVE PUNCTUATIONS

In [20]:
import string, time

In [21]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [22]:
exclude = string.punctuation

In [23]:
def remove_punc(data):
    for char in exclude:
        data=data.replace(char, '')
    return data

In [24]:
text ='string.With .Punctuvation?'

In [25]:
text = remove_punc(text)

In [26]:
from textblob import TextBlob

In [27]:
textblb = TextBlob(text)

In [28]:
textblb.correct()

TextBlob("stringWith Punctuation")

In [29]:
start= time.time()
print(remove_punc(text))
time1= time.time()-start
print(time1)

stringWith Punctuvation
0.0

In [30]:
#that is very slowwww

In [31]:
def remove_punc1(text):
    return text.translate(str.maketrans('','',exclude))

# Removing Stop Words

In [32]:
from nltk.corpus import stopwords

In [33]:
def remove_stopwords(text):
    new_text=[]
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
        x= new_text[:]
        new_text.clear()
        return " ".join(x)

In [34]:
df['review']= df['review'].apply(remove_stopwords)

In [38]:
df[['review']]

          review
0            one
1
2
3      basically
4         petter
...          ...
49995
49996        bad
49997
49998        i'm
49999

[50000 rows x 1 columns]